@-webkit-keyframes click-wave {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0.0;
  }
}
/*@-moz-keyframes click-wave {*/
  /*0% {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*opacity: 0.35;*/
    /*position: relative;*/
  /*}*/
  /*100% {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*margin-left: -80px;*/
    /*margin-top: -80px;*/
    /*opacity: 0.0;*/
  /*}*/
/*}*/
/*@-o-keyframes click-wave {*/
  /*0% {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*opacity: 0.35;*/
    /*position: relative;*/
  /*}*/
  /*100% {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*margin-left: -80px;*/
    /*margin-top: -80px;*/
    /*opacity: 0.0;*/
  /*}*/
/*}*/
/*@keyframes click-wave {*/
  /*0% {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*opacity: 0.35;*/
    /*position: relative;*/
  /*}*/
  /*100% {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*margin-left: -80px;*/
    /*margin-top: -80px;*/
    /*opacity: 0.0;*/
  /*}*/
/*}*/

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: '\2714';
  display: inline-block;
  font-size: 13.66667px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

body {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    background: #e8ebee;
    color: #9faab7;
    font-family: "Harlow Solid Italic", Arial, sans-serif;
    font-style: italic;
    font-weight:bold;
}

p {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align:middle;
}

ul{
    margin-top: 5px;
    margin-bottom: 10px;
}
.parent {
    color: #b0b759;
    font-family: "Harlow Solid Italic", Arial, sans-serif;
    font-style: italic;
    font-weight:bold;
}

input{
    height:40px;
    line-height:40px;
    margin-bottom: 8px;
}
